body{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2{
    margin: 5px;
}
#plateau{
    display:flex;
}
p{
    margin: 0;
}

/* ================SCORE===============*/
#tableauDesScores{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.Score{
    background-color: rgb(151, 151, 151);
    height: 100px;
    width: 100px;
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* =========END===SCORE===END=========*/


/* ================UNITE===============*/
#PionsJoueurA, #PionsJoueurB{
    height: 120px;
    width: 160px;
    margin: 50px 50px;
}
#PionsJoueurA{background-color: blueviolet;}
#PionsJoueurB{background-color: rgb(13, 194, 182);}
.unite{
    margin: 3px;
    height:  30px;
    width : 30px;
    background-color : red;
}
/* =========END===UNITE===END=========*/


/* ================BOUTON===============*/
.FinDeTour{
    height: 60px;
    width: 100px;
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* =========END===BOUTON===END=========*/


/* ================Colonne===============*/
.column{
    display: flex;
    align-items: center;
}
.column-reverse{
    flex-direction: column;
}
/* =========END===Colonne===END=========*/

.bourse{
    display: flex;
    flex-wrap: wrap;
}